.img{
    margin-left: 5%;
    max-width: 90%;
    width: 300px;
    height: 300px;
}
.recipe{
    width: 90%;
    height: 100%;
    background-color:  rgba(240, 240, 243, 0.87);
}
.firstContent{
    width: 100%;
    height: 400px;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
h2{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding-top:20px;
}
h6{
    margin-left:5%;
}
.table{
    width: 70%;
    border:1px solid gray;
    margin-left: 15%;
}
.table th{
    background-color: rgba(176, 176, 185, 0.87);
    font-weight: 700;
    border: 1px solid gray;
}
.table td{
    border: 1px solid gray;
    background-color: rgba(217, 217, 230, 0.87);
}
.table td:hover{
    background-color: rgba(204, 204, 224, 0.87);
}
.p{
    font-size: 17px;
    width: 90%;
    margin-left: 5%;
}
iframe{
    max-width: 90%;
    margin-left: 5%;
    width: 400px;
    height: 250px;
}